/* Used for rendering line numbers in code blocks */
/* adapted from: prismjs/plugins/line-numbers/prism-line-numbers.css */

code.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

code.line-numbers > .code-container {
  position: relative;
}

code.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  user-select: none;
  background-color: transparent; /* Remove blue background */
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: rgba(0, 0, 0, 0.5);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
